@model labs.ModelView.EmployeeViewModel
@using labs.Models
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Employee</title>
</head>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<body>
    <h3 style="color:hotpink">Add New Employee</h3>
    <div>
        <form id="frmmAdd">
            <i style="color:red">@TempData["error"]</i><br />
            <table>
                <tr>
                    <td>Employee Id: </td>
                    <td>@Html.TextBoxFor(m => m.Employee.EmployeeId) @Html.ValidationMessageFor(x => x.Employee.EmployeeId)</td>
                </tr>
                <tr>
                    <td>Employee Name: </td>
                    <td>@Html.TextBoxFor(m => m.Employee.EmployeeName) @Html.ValidationMessageFor(x => x.Employee.EmployeeName)</td>
                </tr>
                <tr>
                    <td>Employee Email: </td>
                    <td>@Html.TextBoxFor(m => m.Employee.EmployeeEmail) @Html.ValidationMessageFor(x => x.Employee.EmployeeEmail)</td>
                </tr>
                                <tr>
                    <td>Employee Address: </td>
                    <td>@Html.TextBoxFor(m => m.Employee.EmployeeAddress) @Html.ValidationMessageFor(x => x.Employee.EmployeeAddress)</td>
                </tr>
                <tr>
                    <td>Employee Salary: </td>
                    <td>@Html.TextBoxFor(m => m.Employee.EmployeeSalary) @Html.ValidationMessageFor(x => x.Employee.EmployeeSalary)</td>
                </tr>
                <tr>
                    <td>Employee Job Title: </td>
                    <td>@Html.TextBoxFor(m => m.Employee.EmployeeJobTitle) @Html.ValidationMessageFor(x => x.Employee.EmployeeJobTitle)</td>
                </tr>

                <tr>
                    <td><input id="btnSubmit" type="button" onclick="SendEmpData()" value="Add Employee" /></td>
                </tr>
            </table>
        </form>


    </div>
    <br />
    @*@Html.Partial("DisplayEmployees", Model)*@
    <b>Existing Employees:</b>
    <div style="color:red" id="status"></div>
    <table id="empTable">
        <tr>
            <td>Employee Id</td>
            <td>Employee Name</td>
            <td>Employee Email</td>
            <td>Employee Address</td>
            <td>Employee Salary</td>
            <td>Employee Job Title</td>
        </tr>
    </table>

    <script>
        $("#status").text("Loading Employee List.....Please Wait");
        $.get("GetEmployeesByJson", null, BindData);//null beacause we dont want to send anything to the server
        function BindData(Employees) {
            $("#empTable").find("tr:gt(0)").remove();
            var tbl = $("#empTable");
            for (k = 0; k < Employees.length; k++) {
                var newRow = "<tr>" +
                    "<td>" + Employees[k].EmployeeId + "</td>" +
                    "<td>" + Employees[k].EmployeeName + "</td>" +
                    "<td>" + Employees[k].EmployeeEmail + "</td>" +
                    "<td>" + Employees[k].EmployeeAddress + "</td>" +
                    "<td>" + Employees[k].EmployeeSalary + "</td>" +
                    "<td>" + Employees[k].EmployeeJobTitle + "</td>" +
                    "</tr>";
                tbl.append(newRow);
            }

            $("#status").text("");

        }

        function SendEmpData() {
            var frmmData = $("#frmmAdd").serialize();//step 1+2
            $("#status").text("Saving Employee.....Please Wait");
            $.post("SubmitEmp", frmmData, BindData);
            $("#Employee_EmployeeId").val("");
            $("#Employee_EmployeeName").val("");
            $("#Employee_EmployeeEmail").val("");
            $("#Employee_EmployeeAddress").val("");
            $("#Employee_EmployeeSalary").val("");
            $("#Employee_EmployeeJobTitle").val("");
            $("#status").text("");
        }
    </script>
    <br />
    @Html.ActionLink("Go Back To Home Page", "Index", "Home")
</body>
</html>
