@model labs.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div>
        Employee Id: @Model.EmployeeId
        <br />
        Employee Name: @Model.EmployeeName
        <br />
        Employee Email: @Model.EmployeeEmail
        <br />
        Employee Address: @Model.EmployeeAddress
        <br />
        Employee Salary: @Model.EmployeeSalary
        <br />
        Employee Job Title: @Model.EmployeeJobTitle


    </div>
</body>
</html>
